.socials a{
    display:inline-block;
     width:25px;
      font-size: 20px;
        text-decoration: none; 
        color: #b5d0fc;
}

.socials a:hover{
    color: #ffffff;
}



body {
	background-color: #26344c;
	color: #eaf2ff;
}
/*
h1 {
	color: #eaf2ff;
}

h2 {
	color: #eaf2ff;
}

h3 {
	color: #eaf2ff;
}

h4 {
	color: #eaf2ff;
}

h5 {
	color: #eaf2ff;
}
*/