---
layout: home
title: Home
---

<div>
  <h1>Recent Posts: </h1>
  
  {% for post in site.posts limit:3 %}
    <div>
	<hr style="opacity: 0.4;">
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>
    </a>
	{{ post.content }}
    </div>
  {% endfor %}
</div>



<!-- social network -->
<center> 
<div>
<hr style="opacity: 0.4;">
<br>
	<h2>Social Networks</h2>
</div>
<div class="socials">
	<a href="{{ site.baseurl }}/feed.xml"
	   <i class="fa fa-rss"></i>
	</a>
	{% if site.twitter_username %}
	    <a href="https://twitter.com/{{ site.twitter_username }}">
	      <i class="fa fa-twitter"></i> 
	    </a>
	{% endif %}
	{% if site.github_username %}
	    <a href="https://github.com/{{ site.github_username }}">
	      <i class="fa fa-github"></i> 
	    </a>
	{% endif %}
	{% if site.linkedin_username %}
	    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
	      <i class="fa fa-linkedin"></i> 
	    </a>
	{% endif %}
	{% if site.google_plus_username %}
	    <a href="https://plus.google.com/{{ site.google_plus_username }}">
	      <i class="fa fa-google-plus"></i>
	    </a>
	{% endif %}
	{% if site.facebook_username %}
	    <a href="{{ site.facebook_username }}">
	      <i class="fa fa-facebook"></i> 
	    </a>
	{% endif %}
	{% if site.instagram_username %}
	    <a href="https://www.instagram.com/{{ site.instagram_username }}">
	<i class="fa fa-instagram" aria-hidden="true"></i>
	    </a>
	{% endif %}
	{% if site.gmail_address %}
	    <a href="mailto:{{ site.gmail_address }}">
<i class="fa fa-envelope" aria-hidden="true"></i>
	    </a>
	{% endif %}
	{% if site.reddit_username %}
	    <a href="https://www.reddit.com/user/{{ site.reddit_username }}">
<i class="fa fa-reddit" aria-hidden="true"></i>
	    </a>
	{% endif %}
</div>
</center>
